@model IEnumerable<DragonBallZ.Models.ZFighters>

<head>
    <link rel="stylesheet" href="~/css/View.css" asp-append-version="true" />

</head>
    <div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">List of DragonBall Charactors</h2>
        </div>
        <div class="col-6 text-right">
            <a asp-controller="Charactor" asp-action="Create" class="btn btn-info">
                Create New Charactor
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill-add" viewBox="0 0 16 16">
                    <path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7Zm.5-5v1h1a.5.5 0 0 1 0 1h-1v1a.5.5 0 0 1-1 0v-1h-1a.5.5 0 0 1 0-1h1v-1a.5.5 0 0 1 1 0Zm-2-6a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
                    <path d="M2 13c0 1 1 1 1 1h5.256A4.493 4.493 0 0 1 8 12.5a4.49 4.49 0 0 1 1.544-3.393C9.077 9.038 8.564 9 8 9c-5 0-6 3-6 4Z" />
                </svg>
            </a>
           
        </div>
    </div>
    <br />

    @if (Model.Count() > 0)
    {
         
        <table class="table table-dark table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>
                        Name
                    </th>
                    <th>
                        Race
                    </th>
                    <th>
                        Age
                    </th>
                    <th>
                        Abilities
                    </th>
                    <th>
                        Weakness
                    </th>
                    <th>
                        Changes
                    </th>
                   
                </tr>
            </thead>

            <tbody>
                @foreach (var games in Model)
                {
                    <tr>
                        <td width="10%">@games.Name</td>
                        <td width="15%">@games.Race</td>
                        <td width="10%">@games.Age</td>
                        <td width="20%">@games.Abilities</td>
                        <td width="20%">@games.Weakness</td>
                        
                        <td width="30%">
                            <div class="w-100 btn-group" role="group">
                                <a asp-controller="Charactor" asp-action="Update" asp-route-ID="@games.ID" class="btn btn-outline-info mx-1" >Update</a>
                                <a asp-controller="Charactor" asp-action="Delete" asp-route-ID="@games.ID" class="btn btn-danger mx-1 " onclick="return confirm ('Are you sure you want to delete : @games.Name')">Delete
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                                        <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z" />
                                    </svg>
                                </a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        
    }
    else
    {
        <p>No Charactors  created yet</p>
    }
        
</div>

